// var layout main

$backgraound-header: #1E88E5;
$box-shadow-header: #1E88E5;
$backgraound-menu: rgba(30, 136, 229, 0.534);
$backgraound-content: white;

//menu
$background-item: #3f51b5;
$color-item: white;

//mixins
$boxShadow: 0 1px 2px rgba(255, 255, 255, 0), 0 0 0 1px rgba(255, 255, 255, 0);
$boxShadowNone: 0 1px 2px rgba(255, 255, 255, 0),
  0 0 0 0px rgba(255, 255, 255, 0);

// texto
$texto:  #3f51b593;