@import "../../styles/variables.scss";

.main{
    height: 100vh;
    display: grid;
    grid-template-areas: "header header "
                         "menu content" ;
    grid-template-columns: 180px 1fr;
    grid-template-rows: 80px 1fr;
    overflow: hidden;

    &__header {
    background:$backgraound-header;
    grid-area: header;
    -webkit-box-shadow: -2px 5px 17px -8px $box-shadow-header;
     -moz-box-shadow: -2px 5px 17px -8px $box-shadow-header;
     box-shadow: -2px 5px 17px -8px $box-shadow-header;
    
    }

    &__menu {
    background: $backgraound-menu;
    grid-area: menu;
    }
        
    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        grid-area: content;
        overflow-y: auto;
        overflow-x: auto;
        
    }
}